/**
 * Main Style
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#wpadminbar .iwp_migration_class > a,
#wpadminbar .iwp_migration_class > a:hover,
#wpadminbar .iwp_migration_class > a:focus,
#wpadminbar .iwp_migration_class > a:visited {
    background-color: #6b2fad;
    color: #fff;
}

.iwp-migration-container .iwp-btn {
    font-family: 'Inter', sans-serif;
    display: flex;
    padding: 13px 19px;
    justify-content: center;
    border-radius: 6px;
    margin: 0 auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    border: none;
}

.iwp-migration-container ul {
    list-style: disc;
    padding-left: 30px;
}

.iwp-migration-container {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 30px !important;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 685px;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 10px 15px -3px rgba(0, 0, 0, 0.10);
}

.iwp-migration-container .migration-title {
    font-family: 'Inter', sans-serif;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    background-color: white;
    border-radius: 8px 8px 0 0;
}

.iwp-migration-container .migration-title h1 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.iwp-migration-container .migration-content {
    font-family: 'Inter', sans-serif;
    border-radius: 0 0 8px 8px;
    background: #F9FAFB;
    padding: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
}

.iwp-migration-container .migration-content .migration-desc {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    margin-bottom: 25px
}

.iwp-migration-container .iwp_migration_footer {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.iwp-migration-container .migration-content-thankyou {
    text-align: center;
    display: flex;
    width: 100%;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}


.iwp-migration-container .iwp-response-message {
    margin-bottom: 20px;
}

.iwp-migration-container .iwp-thankyou-text {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.iwp-migration-container .hidden {
    display: none;
}